flows.json
[
    {
        "id": "385c5594aae09dba",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c68398a25848ccaf",
        "type": "inject",
        "z": "385c5594aae09dba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "29cd556a333a5170"
            ]
        ]
    },
    {
        "id": "29cd556a333a5170",
        "type": "http request",
        "z": "385c5594aae09dba",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/api/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "49233981566bdac6"
            ]
        ]
    },
    {
        "id": "49496fe5d71adb70",
        "type": "MSSQL",
        "z": "385c5594aae09dba",
        "mssqlCN": "1cadf1570aa70a2c",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "InsertApi",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "temperature",
                "type": "Float",
                "valueType": "msg",
                "value": "payload.temperature",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "humidity",
                "type": "Float",
                "valueType": "msg",
                "value": "payload.humidity",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "timestamp",
                "type": "nvarchar(50)",
                "valueType": "msg",
                "value": "payload.timestamp",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "49233981566bdac6",
        "type": "json",
        "z": "385c5594aae09dba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "d33e0dd12b9026b5"
            ]
        ]
    },
    {
        "id": "d33e0dd12b9026b5",
        "type": "function",
        "z": "385c5594aae09dba",
        "name": "function 5",
        "func": "// Lấy dữ liệu JSON từ đầu vào\nvar data = JSON.parse(msg.payload);\n\n// Trích xuất dữ liệu từ đối tượng JSON\nvar temperature = data.temperature;\nvar humidity = data.humidity;\nvar timestamp = data.timestamp;\n\n// Lưu trữ dữ liệu vào một đối tượng để truyền vào node MSSQL-PLUS\nvar sqlData = {\n    temperature: temperature,\n    humidity: humidity,\n    timestamp: timestamp\n};\n\n// Gửi dữ liệu vào output cho node MSSQL-PLUS\nmsg.payload = sqlData;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "49496fe5d71adb70"
            ]
        ]
    },
    {
        "id": "a927da9ceabfccc7",
        "type": "http in",
        "z": "385c5594aae09dba",
        "name": "",
        "url": "/getdata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "8d6ce1392733d570"
            ]
        ]
    },
    {
        "id": "8d6ce1392733d570",
        "type": "MSSQL",
        "z": "385c5594aae09dba",
        "mssqlCN": "0a9e607d3e6ecf26",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SelectApi",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "af37c52fd26eca72"
            ]
        ]
    },
    {
        "id": "af37c52fd26eca72",
        "type": "http response",
        "z": "385c5594aae09dba",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "1cadf1570aa70a2c",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Sql Sever",
        "server": "DUYCAO",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "Api_Cambien",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "0a9e607d3e6ecf26",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "SQLServer",
        "server": "DUYCAO",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "Api_Cambien",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    }
]